.logoContainer {
    width: 100%;
    height: 300px; /* o lo que quieras, podés ajustar esto */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative; /* necesario para los children absolutos */
  }
  .logoSvgWrapper,
.logoPngWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 1s ease-in-out;
  width: 300px; /* mismo tamaño */
  height: 300px;
  transition: opacity 1s ease-in-out;
  z-index: 2;
}
.logoSvg {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: fill 0.3s ease;
  transform: scaleX(-1) scaleY(-1);
}
  .logoWrapper {
    object-fit: contain;

  }
  
  .logoPng {
    opacity: 0;
    transition: opacity 1s ease-in-out;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  
  .fadeOut {
    opacity: 0;
    z-index: 1;
  }
  
  .fadeIn {
    opacity: 1;
    z-index: 2;
  }
  .hidden {
    display: none;
  }
  .logoSvg {
    width: auto;
    height: 100%;
    max-width: 300px; /* o lo que quieras */
    transition: fill 0.3s ease;
    transform: scaleX(-1); /* invierte horizontalmente */
    transform: scaleY(-1);
  }
  
  @media (max-width: 768px) {
    .logoSvg {
      width: 300px;
    }
  }
  